<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 ">
  
    <center>
      <h1>新規登録</h1>

      <%= render 'form', user: @user %>

      <%= link_to 'Back', users_path %>
    </center>
    </div>
  </div>
</div>