<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
    
    <!-- 検索フォーム(word.contentのみ） -->
    <p>
    <%= form_tag words_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
      <%= submit_tag "探", :name => nil, class:"short_input" %>
    <% end %>
    </p>
  
    <!-- 新着 -->
    <table class="syotai_row-responsive">
      <% @search_words.each do |word| %>
        <tr><td>  
        <div class="panel">
          <%= link_to word.content, word %>
        </div>
      </td></tr>
      <% end %>
     
    </table>
    </div>
  </div>
</div>