<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">

      <%= render 'form', word: @word %>
      
      <table>
        <tr><td>
          
          
        </td></tr>
      </table>
    </div>
  </div>
</div>